
<div class="buttons">
    <app-button type="primary" size="medium"  [disabled]="false" (onClick)="buttonClicked()">Primary </app-button>
    <app-button type="primary" size="medium"  [disabled]="true" (onClick)="buttonClicked()">Primary disabled</app-button>
</div>

<div class="buttons">
    <app-button type="secondary" size="medium"  [disabled]="false" (onClick)="buttonClicked()"> Secondary </app-button>
    <app-button type="secondary" size="medium"  [disabled]="true" (onClick)="buttonClicked()">Secondary Disabled </app-button>
</div>

<div class="buttons">
    <app-button type="tertiary" size="medium"   [disabled]="false" (onClick)="buttonClicked()"> Tertiary </app-button>
    <app-button type="tertiary" size="medium"  [disabled]="true" (onClick)="buttonClicked()"> Tertiary Disabled </app-button>
</div>


<div class="buttons">
    <app-button type="danger" size="medium"   [disabled]="false" (onClick)="buttonClicked()"> Danger </app-button>
    <app-button type="danger" size="medium"  [disabled]="true" (onClick)="buttonClicked()"> Danger Disabled </app-button>
</div>

<div class="buttons">
    <app-button type="secondary-danger" size="medium"  [disabled]="false" (onClick)="buttonClicked()">Secondary Danger</app-button>
    <app-button type="secondary-danger" size="medium"  [disabled]="true" (onClick)="buttonClicked()">Secondary Danger Disabled</app-button>
</div>

<div class="buttons">
    <app-select [options]="selectOptions" [disabled]="false" required></app-select>
    <app-select [options]="selectOptions" [disabled]="true"></app-select>
</div>




